" Custom Key Map......
"---------Generay KeyMap Configure--------"
set whichwrap=b,s,<,>,[,],h,l
let mapleader=';'
nmap <Leader>no :nohlsearch<CR>
nmap <Backspace> gg
"nmap <Leader>g gg
nmap <Enter> G

nmap <c-j> <c-w>j
nmap <c-k> <c-w>k
nmap <c-l> <c-w>l
nmap <c-h> <c-w>h
nmap <Tab> <c-w>w
nmap <Space> za

"imap [ []<Esc>i
"imap { {}<Esc>i
"imap ( ()<Esc>i
"imap < <><Esc>i

nmap <F5> :call CompierAndRun()<CR>
nmap <c-F5> :call Compier()<CR>
nmap <F6> :call Debug()<CR>
nmap <F8> :Tagbar<CR>
nmap <F2> :NERDTree<CR>
nmap <F3> :call Return_CRL()<CR>
set pastetoggle=<F9>

" Custom Functions
" Compier And Run Program
function! CompierAndRun()
		:w
	if &filetype == 'c'
		:!gcc -o %< % && ./%<
	elseif &filetype == 'cpp' || &filetype == 'cxx'
		:!g++ -o %< % && ./%<
	elseif &filetype == 'sh' || &filetype == 'bash'
		:![ -x % ] && ./% || chmod +x % && ./%
  else
    echo "file is not c/c++ source or headers."
	endif
endfunction

"Only Compier 
function! Compier()
	:w
	if &filetype == 'c'
		:!gcc -c -o %< %
	elseif &filetype == 'cxx' || &filetype == 'cpp'
		:!g++ -c -o %< %
  else
    echo "file is not c/c++ source or headers."
endfunction

" Debug Program
function! Debug()
	:w
	if &filetype == 'c'
		:!gcc -g -o %< % && [ -x %< ] && gdb %<
	elseif &filetype == 'cxx' || &filetype == 'cpp'
		:!g++ -g -o %< % && [ -x %< ] && gdb %<
  else
    echo "file is not c/c++ source or headers."
	endif
endfunction

function! Return_CRL()
	:wall
	:!/bin/bash
endfunction

if has(g:islinux)
  nmap <Leader>man :Man 3 <cword><CR>
endif

"=============="
" cscope Configure "
"
if has("cscope")
  nmap <F12> :cscope find g <C-r><C-w><CR><CR>
  nmap css :cscope find s <C-r><C-w><CR><CR>
  nmap csd :cscope find d <C-r><C-w><CR><CR>
  nmap csc :cscope find c <C-r><C-w><CR><CR>
  nmap csi :cscope find i <C-r>=expand("<cfile>")<CR><CR>
endif


" vim:set filetype=vim:"
