$if term=linux
	set enable-meta-key On
	set input-meta On
	set output-meta On
	set convert-meta Off
$endif

set bell-style none
set show-all-if-ambiguous on
set show-all-if-unmodified on
set mark-directories On
set mark-symlinked-directories On
set mark-modified-lines On
#set history-size 0
set print-completions-horizontally On
set visible-stats On

$if mode=emacs
  ";5A":previous-history
  ";5B":next-history
  #C <-
  ";5D":backward-word
  #C ->
  ";5C":forward-word
  "\C-o":menu-complete
$endif
$if Bash
"\C-xq":"\eb\"\ef\""
$endif
# set expand-tilde On
