! 字体的 dpi 大小……
!Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! 配置光标主题及光标的大小……
Xcursor.theme: whiteglass
Xcursor.size: 25

!# urxvt 配置

URxvt.borderLess:False

! DejaVu Sans Mono for Powerline:style=Bold
!URxvt.font:Xft:DejaVu\ Sans\ Mono:size=15:antialias=true:pixelsize=16,Xft:DejaVu\ Sans\ Mono:size=15:style=Book:antialias=true:pixelsize=16

!URxvt.boldfont:Xft:DejaVu\ Sans\ Mono:size=15:antialias=true:pixelsize=16,Xft:DejaVu\ Sans\ Mono:size=15:style=Bold:antialias=true:pixelsize=16

! URxvt.font:-misc-fixed-medium-r-normal--15-130-75-75-c-70-iso8859-1,-misc-simsun-medium-r-normal--12-*-*-*-p-*-iso10646-1


URxvt.scrollBar:False
URxvt.scrollBar_floating:False
URxvt.scrollstyle:plain

! URxvt.background:#000000
URxvt.background:[20]black
URxvt.foreground:#ffffff

URxvt.inputMethod:fcitx

URxvt.depth:32

URxvt.inheritPixmap:true

